%h1 Listing test_answers

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @test_answers.each do |test_answer|
      %tr
        %td= link_to 'Show', test_answer
        %td= link_to 'Edit', edit_test_answer_path(test_answer)
        %td= link_to 'Destroy', test_answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Test answer', new_test_answer_path
